/*

!/mods
!.claude
!scripts
!docs
!kubejs

!CLAUDE.md
!.gitignore
!MC git 仓库连接.bat
# 不允许配置文件
/.claude/settings.local.json

# 忽略备份
*bak
docs/backups
/.claude/skills/search-mods-info/configs

*__pycache__*